

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 控制台主页一</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/style.css" media="all">

</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md">
        <div class="layui-row layui-col-space15">
          <!-- 最近应用 -->
          <div class="layui-col-md">
            <div class="layui-card">
              <div class="layui-card-header">最近应用</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-carousel-s layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs2">
                        <a lay-href="home/homepage1.html">
                          <i class="layui-icon layui-icon-console"></i>
                          <cite>课程表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a lay-href="home/homepage2.html">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>学生考勤</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a lay-href="component/layer/list.html">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>学校号</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a layadmin-event="im">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>发通知</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a lay-href="component/progress/index.html">
                          <i class="layui-icon layui-icon-find-fill"></i>
                          <cite>邀请用户</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs2">
                        <a lay-href="app/workorder/list.html">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>更多</cite>
                        </a>
                      </li>
                    </ul>
                  
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- 本周使用概况 -->
          <div class="layui-col-md">
            <div class="layui-card">
              <div class="layui-card-header"><div class="fr fc-gray">2018/09/17 - 2018/09/23</div>本周使用概况<span>注册且已登录的用户为激活用户</span></div>
              <div class="layui-card-body">

                <table class="layui-table table-center"  lay-filter="test-table-thead1">
                  <thead>
                    <tr>
                      <th rowspan="2">角色</th>
                      <th colspan="3">整体激活率</th>
                      <th rowspan="2">上周登录人数</th>
                      <th rowspan="2">本周登录人数</th>
                      <th rowspan="2">占比</th>
                    </tr>
                    <tr>
                      <th>注册人数</th>
                      <th>激活人数</th>
                      <th>激活率</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>                      
                      <td>教师</td>
                      <td>951</td>
                      <td>564</td>
                      <td>59.3%</td>
                      <td>154</td>
                      <td>987</td>
                      <td>40.7%</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>                      
                      <td>学生</td>
                      <td>2151</td>
                      <td>1564</td>
                      <td>36.2%</td>
                      <td>1154</td>
                      <td>1987</td>
                      <td>64.9%</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>                      
                      <td>家长</td>
                      <td>951</td>
                      <td>564</td>
                      <td>59.3%</td>
                      <td>154</td>
                      <td>987</td>
                      <td>40.7%</td>
                    </tr>
                  </tbody>
                </table>
                <div class="moreCon"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                <div class="layui-row layui-col-space10">
                  <div class="layui-col-xs6">
                    <div class="layui-card clear">
                      <div class="layui-card-body">
                        <div class="tac">教师优币排行榜</div><hr>
                        <table class="layui-table table-clear">
                          <tbody>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten1.png"></td>
                              <td class="userface"><img src="../../layuiadmin/images/face.png">陈梦洁</td>
                              <td>234</td>
                            </tr>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten2.png"></td>
                              <td class="userface"><img src="../../layuiadmin/images/face.png">王昌杰</td>
                              <td>198</td>
                            </tr>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten3.png"></td>
                              <td class="userface"><img src="../../layuiadmin/images/face.png">孙楠</td>
                              <td>198</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="moreCon"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="layui-col-xs6">
                    <div class="layui-card clear">
                      <div class="layui-card-body">
                        <div class="tac">班级优币排行榜</div><hr>
                        <table class="layui-table table-clear">
                          <tbody>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten1.png"></td>
                              <td>七年级（1）班</td>
                              <td>234</td>
                              <td>陈梦洁</td>
                            </tr>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten2.png"></td>
                              <td>七年级（4）班</td>
                              <td>4453</td>
                              <td>王昌杰</td>
                            </tr>
                            <tr>
                              <td class="topten"><img src="../../layuiadmin/images/topten3.png"></td>
                              <td>八年级（2）班</td>
                              <td>635</td>
                              <td>孙楠</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="moreCon"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- 备课成果 -->
          <div class="layui-col-md">
            <div class="layui-card">

              <div class="layui-card-body">  
                <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-hash">
                  <div class="main-title">备课成果</div>
                  <ul class="layui-tab-title tab-week">                    
                    <li class="layui-this" lay-id="11">本周</li>
                    <li lay-id="22" class="">上周</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">

                      <div class="layui-row layui-col-space10">
                        <div class="layui-col-md3">
                          <div class="tac">优教备课</div>
                          <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>使用教师数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><div class="num"><strong>178</strong> / <span>500</span></div></td>
                                </tr>
                                <tr>
                                  <td>与上周相比 54 ↑↓</td>
                                </tr>       
                              </tbody>
                            </table>                  

                        </div>
                        <div class="layui-col-md6">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师共享排名</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>被引用次数</th>
                                  <th>共享课时包数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div> 
                        </div>
                        <div class="layui-col-md3">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师资源浏览榜</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>浏览量</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div>                          
                        </div>
                      </div>
                     
                    </div>
                    <div class="layui-tab-item">内容2 复制</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 课堂互动 -->
          <div class="layui-col-md">
            <div class="layui-card">

              <div class="layui-card-body">  
                <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-hash">
                  <div class="main-title">课堂互动</div>
                  <ul class="layui-tab-title tab-week">                    
                    <li class="layui-this" lay-id="11">本周</li>
                    <li lay-id="22" class="">上周</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">

                      <div class="layui-row layui-col-space10">
                        <div class="layui-col-md3">
                          <div class="tac">优教备课</div>
                          <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>使用教师数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><div class="num"><strong>178</strong> / <span>500</span></div></td>
                                </tr>
                                <tr>
                                  <td>与上周相比 54 ↓</td>
                                </tr>       
                              </tbody>
                            </table>                  

                        </div>
                        <div class="layui-col-md6">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师共享排名</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>被引用次数</th>
                                  <th>共享课时包数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div> 
                        </div>
                        <div class="layui-col-md3">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师资源浏览榜</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>浏览量</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div>                          
                        </div>
                      </div>
                     
                    </div>
                    <div class="layui-tab-item">内容2 复制</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 作业概况 -->
          <div class="layui-col-md">
            <div class="layui-card">

              <div class="layui-card-body">  
                <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-hash">
                  <div class="main-title">作业概况</div>
                  <ul class="layui-tab-title tab-week">                    
                    <li class="layui-this" lay-id="11">本周</li>
                    <li lay-id="22" class="">上周</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">

                      <div class="layui-row layui-col-space10">
                        <div class="layui-col-md3">
                          <div class="tac">本周发送量：156次</div>
                          <table class="layui-table table-center table-clear">
                              <tbody>
                                <tr>
                                  <td>占位图</td>
                                </tr>
                                <tr>
                                  <td>与上周相比 持平</td>
                                </tr>       
                              </tbody>
                            </table>                  

                        </div>
                        <div class="layui-col-md6">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师共享排名</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>被引用次数</th>
                                  <th>共享课时包数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                  <td>234</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div> 
                        </div>
                        <div class="layui-col-md3">
                          <div class="layui-card-body clear-pad">
                            <div class="tac">教师资源浏览榜</div>
                            <table class="layui-table table-center table-clear">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>姓名</th>
                                  <th>浏览量</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>陈梦洁</td>
                                  <td>234</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>王昌杰</td>
                                  <td>198</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>孙楠</td>
                                  <td>198</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="moreCon nobgc"><a href="#">详情<i class="layui-icon layui-icon-right"></i></a></div>
                          </div>                          
                        </div>
                      </div>
                     
                    </div>
                    <div class="layui-tab-item">内容2 复制</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js?t=1"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script>
</body>
</html>

